language: python
env:
  - TOXENV=py3
  - TOXENV=pep8
# upgrade setuptools to support environment markers
# in install_requires of setup.py
install: pip install -U setuptools tox
script: tox
notifications:
  email:
    - victor.stinner@gmail.com
